.Home {
  color: blue;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.Home span { 
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: red;
}

.Home img {
  border-radius: 2rem;
}